{% extends "layout.html" %}
{% block content %}

<div class="home-container">
    <div class="home-content">
        <div class="left-section">
            <div class="title-section">
                <h1>Chess Notation</h1>
                <p>Master the language of chess</p>
            </div>
            <div class="button-section">
                <a href="{{ url_for('learn', lesson_id=1) }}" class="home-button">Start Learning</a>
            </div>
        </div>
        <div class="right-section">
            <img src="{{ url_for('static', filename='images/chess-king.png') }}" alt="Chess King" class="background-image">
        </div>
    </div>
</div>

{% endblock %}
